body * {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	color: #FF5714;
}

html {
	background-color: #acd2ff;
}

.logo-wrapper h1 {
	text-align: center;
	font-size: 48px;
}

.search-field {
	display: block;
	width: 600px;
	margin: 60px auto;
	border: none;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(75, 72, 72, 0.2);
	color: #484e64;
	padding: 20px;
}

.search-field::placeholder {
  color: #7e899c;
}

.search-submit {
	display: block;
	margin: 0 auto;
	border: none;
	color: white;
	background-color: #DD6E42;
	border-radius: 5px;
	padding: 10px 80px;
}